@-ms-viewport {
    width: device-width;
}
.text-center{
    text-align:center;
}
.mb-1{
    margin-bottom:1rem;
}
.m-0 {
    margin: 0;
}
.rounded{
    border-radius:0.5rem;
}
.p-1{
    padding:1rem;
}
.text-white{
    color:white;
}
.text-black {
    color:black;
}
.bg-white{
    background-color:white;
}
.bg-black {
    background-color: black;
}
.bg-red {
    background-color: red;
}
.bg-blue {
    background-color: #1434A4;
}
.bg-lightblue {
    background-color: #E5E4E2;
}
.bg-green {
    background-color: #7CFC00;
}
.bg-amber {
    background-color: #FFD700;
}
.shadow {
    box-shadow: 10px 13px black;
}
.no-tilt {
    background-color: #E5E4E2;
}
.good-tilt {
    background-color: #0FFF50;
}
.danger-tilt {
    background-color: #FF2400;
    color:white;
}
input {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: 600;
    background-color: #848884;
    color:white;
}
input:hover{
   background:white;
   color:black;
}


html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #36454F;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-sm-12, .col-sm-6, .col-md-6, .col-md-5, {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    background-color: #E5E4E2;
}


.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: 0.75rem;
}



@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    .card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-right: 15px;
        margin-bottom: 0;
        margin-left: 15px;
    }

    .card {
        display: inline-block;
        width: 100%;
    }

    .col-sm-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-sm-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}